<div class="test">
    <h3>Đây là Component Home</h3>
    <h1>Trái cây</h1>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Đại Hạ Giá</th>
        </tr>
        <tr *ngFor="let trai of traiCay2;let i = index">
            <td>{{ i + 1}}</td>
            <td>{{trai.ten}}</td>
            <td>
                <span [ngClass]="{'so-am':trai.gia<0}">{{trai.gia}}</span>
            </td>
            <td>
                <span *ngIf="trai.haGia">Đang Hạ Giá!</span>
            </td>
        </tr>
    </table>


</div>